@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @if (Context.Session.GetString("UserId") != null)
        {
            <span>Welcome, @Context.Session.GetString("Username")!</span>
        }
        else
        {
            <span>Home Page</span>
        }
    </h1>
</div>
